
body {
  background-image: url('PNG/bn.jpg');
  background-size: contain;
}

.currcard {
     height: 100%;
     margin: 0 auto;
}



.button {
  margin-top: 20px;
  width: 65%;
  line-height: 60px;
  font-weight: bold;
  /** padding: 0 40px; */
  background: #95086a;
  border: none;
  border-radius: 25px;
  float:right;
  display: inline-block;
}
.button:hover {
  background: lightsalmon;
}



.grid-container {
  display: grid;
  max-height: 620px;
  grid-template-rows: 0.5fr 5fr;
  grid-gap: 2px;
  background-color: rgba(100, 100, 100, 0);
  padding: 1px;
}

.top-row {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  color: white;
  background-color: transparent;
  padding: 1px;
  text-align: center;

}

.mid-row {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 0.7fr 1fr;
  grid-gap: 4px;
  max-height: 700px;
  grid-column-gap: 1px;
  justify-items: center;
  background-color: rgba(100, 100, 100, 0);
  text-align: center;

}

.inactive-player {
    background-color: rgba(108, 4, 77, 0.60);
    color: white;
    width: 100%;
    border-radius: 25px;
    box-sizing:border-box;
    padding: 30px;
}

.card-panel {
    background-color: rgba(100, 100, 100, 0);
    align-items: center;
    height: 600px;
    width: 80%;
    box-sizing:border-box;

}

.sidebar {
    background-color: rgba(76, 175, 80, 0.3);
    width: 70%;
    border-radius: 25px;
    padding: 30px;

}


.grid-container > div {

  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}
